.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0 3%;
  font-family: "NotoSansCJK";
  font-weight: 400;
  background: #fff;
}

.nav {
  display: flex;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  padding-bottom: 6px;
}

.filter_list {
  display: flex;
  padding-left: 28px;
  padding-right: 20px;
}

.filter_item {
  color: #787878;
  line-height: 21px;
  margin-right: 24px;
  padding: 4px 8px;
}

.filter_title {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.content {
  margin-top: 31px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  justify-items: space-between;
  grid-gap: 20px;
  width: 100%;
}
