.content_item {
  position: relative;
  margin-bottom: 20px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.content_item:hover .content_preview {
  transform: scale(1.1);
  transition: transform 0.35s ease-in-out;
}

.content_preview {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  aspect-ratio: 240/135;
}

.content_time {
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 2px;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 16px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.8);
}

.content_description {
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-bottom: 50px;
  font-size: 14px;
  font-weight: 400;
  color: #212b36;
  letter-spacing: 0;
  line-height: 20px;
  @media screen and (max-width: 992px) {
    padding-bottom: 60px;
  }
}

.content_description_title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content_description_count {
  display: flex;
  font-size: 14px;
  color: #787878;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 10px;
  bottom: 20px;
  z-index: 2;
  @media screen and (max-width: 992px) {
    bottom: 30px;
  }
}

.content_description_count_pic {
  position: relative;
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

.content_tag {
  display: flex;
  position: absolute;
  color: #fff;
  font-size: 12px;
  right: 10px;
  bottom: 10px;
}

.content_tag_lang {
  padding: 2px 8px;
  background: #4283e4;
  border-radius: 2px;
  margin-right: 8px;
}

.content_tag_level {
  padding: 2px 8px;
  border-radius: 2px;
}
